{% extends "base.html" %}
{% load static %}
{% block title %}
    Lista postów
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'posts/css/styles.css' %}"/>
{% endblock style %}
{% block content %}
    <h1>Lista postów</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'posts:details' post.id %}">{{ post.title }}</a>
                {% if post.sponsored %}(sponsorowany){% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
