{% extends "base.html" %}
{% load static %}
{% block title %}
    Lista postów
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'posts/css/styles.css' %}"/>
{% endblock style %}
{% block content %}
    <h1>Lista postów</h1>
    <ul class="list-group posts_list">
        {% for post in posts %}
            <li class="list-group-item ">
                <a href="{% url 'posts:details' post.id %}">{{ post.title }}
                    {% if post.sponsored %}(sponsorowany){% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
